name: Prod
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Pull Docker And Run Container With SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd ~/dingtalk/dingtalk-vue/
            git pull origin master
            npm install -g cnpm --registry=https://registry.npm.taobao.org
            cnpm install
            npm run build
            cd ~/dingtalk
            docker-compose build
            docker-compose up -d
            docker image prune -f
